@import './base.css';

* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

#app {
  width: 100dvw;
  height: auto;
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

.button {
  font-family: 'Sono', monospace;
  padding: var(--padding-small);
  background-color: var(--accent-colour);
  border-radius: 1rem;
  border-color: transparent;
  text-decoration: none;
  color: var(--white);
  width: 10rem;
  font-weight: bolder;
  font-size: var(--text-medium);
  transition: background-color 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--darker-accent-colour);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: var(--padding-large);
  padding: var(--padding-small);
  justify-content: center;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
